@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body,
html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000022;
    justify-content: space-between;

}

.Load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 9999;
}

#cosmic-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    animation: cosmicBackground 10s forwards;
    z-index: 100;
}

@keyframes cosmicBackground {
    0% {
        background: #000;
    }

    30% {
        background: #000022;
    }

    100% {
        background: #000022;
    }
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 1.3s infinite alternate;
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

#logo-container {
    position: relative;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #ff95e5, 0 0 30px #fff;
    }

    to {
        text-shadow: 0 0 2px #ff5bd6, 0 0 3px #fff, 0 0 40px #fff;
    }
}

#freepay-text {

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: glow 1.5s ease-in-out infinite alternate;

}

#free {
    color: white;
}

#pay {
    background: #ff00EE;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#custom-div {
    position: absolute;
    opacity: 0;
    animation: fadeIn 2s 8s forwards;
    bottom: 20px;
    right: 20px;
    /* color: white; */
}

#LetsGoBtn {
    width: 4rem;
    height: 2rem;
    /* border-color: #ff00ee00; */
    border-style: none;
    border-radius: 0.2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #0289d1, #9b27b0);
    pointer-events: all;

}


/* spinner */
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.loader-circle:nth-child(2) {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    animation-delay: 0.3s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(100deg);
    }

    75% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-circle:nth-child(2) {
    border-left-color: #ff00EE;
    border-right-color: #ff00EE;
    animation-delay: 0.2s;
}

.loader-container {
    text-align: center;
}

.loader {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto 20px;
    position: relative;
}

.loader-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 1.5s linear infinite;
}

.shoph3 {
    font-family: 'Press Start 2P', cursive;
        text-shadow: 3px 3px 0px #ff00ee,
            -3px -3px 0px #ff00ff;
    letter-spacing: 1px;
    /* transform: translateX(3rem); */
    /* color: white; */
    animation: NftsAnimation 1s infinite ease-in-out;
}

@keyframes NftsAnimation {
    0% {
        font-family: 'Press Start 2P', cursive;
        text-shadow: 3px 3px 0px #ff00ee,
            -3px -3px 0px #ff00ff;
    transform: translateX(0.1rem);

    }

    10% {
        font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 0px aqua,
        -3px -3px 0px #ff00ff;
    transform: translateX(-0.2rem);

    }

    50% {
        font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 0px #9b27b0,
        -3px -3px 0px aqua;
    transform: translateX(0.1rem);

    }

    60% {
        font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 0px blue,
        -3px -3px 0px purple;
    transform: translateX(-0.1rem);

    }
    70%{
        font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 0px blue,
        -3px -3px 0px #ff00EE;
    transform: translateX(0.2rem);

    }

    100% {
        font-family: 'Press Start 2P', cursive;
        text-shadow: 3px 3px 0px #ff00ee,
            -3px -3px 0px #ff00ff;
    transform: translateX(-0.1rem);

    }
}